@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

table {
  @apply w-full border border-gray-500 rounded-lg overflow-hidden shadow-sm;
}

@layer components {

  .responsive-cell {
    &::before {
      content: attr(data-label);
      @apply float-left font-semibold mr-4;
    }

    @media (min-width: theme('screens.md')) {
      &::before {
        @apply hidden;
      }
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

.ant-btn-link,
.ant-menu-item a,
.link-color-inherit a {
  color: inherit !important;
}